# Dependencies
node_modules/

# Environment variables (NEVER commit this!)
.env

# Database file (will be created on server)
database/data.db
data.db
*.db

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build files
dist/
build/
